@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --offblack: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--offblack);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 85%;
  background-color: var(--darkgrey);
  width: 400px;
  border-radius: 20px;
  padding: 2rem 2.5rem;
  margin: 0 1em;
}

img {
  width: 4rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.address {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: var(--green);
  margin-bottom: 1.5rem;
}

.bio {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
}

ul li button {
  background-color: var(--grey);
  border: none;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: 0.5s;
  cursor: pointer;
}

ul li button:hover {
  background-color: var(--green);
  color: var(--darkgrey);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: var(--green);
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 375px) {
  .container {
    padding-block: 15px 15px;
    width: 350px;
    margin: 0 1em;
  }
  ul li button {
    width: 280px;
    flex-shrink: 1;
    min-width: fit-content;
  }
}
