@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --offblack: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--offblack);
}

.container {
  background-color: var(--darkgrey);
  width: 350px;
  border-radius: 20px;
  padding: 25px 15px;
  margin: 0 1em;
}

img {
  width: 5rem;
  border-radius: 50%;
}
